# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Documentation
*.md text diff=markdown

# Configs
*.json text
*.yml text
*.yaml text
*.toml text
