# Python
__pycache__/
*.py[cod]
*.class
pymotivaxmc2/__pycache__/
venv/
pyvenv.cfg

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
bin/
include/
lib/
lib64/
lib64

# IDE
.idea/
.vscode/

# Misc
.DS_Store
test_command.py
test_udp.py
async.md
